*{
    margin: 0px;
    padding: 0px;
  }
  body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .cabecalho{
    display: flex;
   justify-content: space-between;
   padding: 30px;
  
   margin: 0 auto;
  
  }
  .cabecalho .logo{
    width: 55px;
    margin-top: -20px;
  }
  .cabecalho .menu{
  
    display: flex;
    
    align-items: center;
    height: 100%;
  }

  .cabecalho nav li a{
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
    
  }

  ul{
    list-style: none;
  }

  header{
    background-color: rgb(0, 0, 0);
    height: 20px;
  }

  .cabecalho nav li a:hover{
    background-color: rgb(255, 238, 0);
    list-style: none;
    text-decoration: none;
  
  }
  a{
    text-decoration: none;
  }
  .conte{
    text-align: center;
  }

  .div{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    gap: 1px;

  }

  .border1{
    border: 1px solid black;
    background: #fff;
   margin-left: 10px;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
margin-bottom: 10px;
width: 90%;
  }

  .img{
    width: 302px;
    border-radius: 20px;
  }
  .txt{
    padding-left: 10px;
    padding-right: 10px;
  }

  .lis{
    display: flex;
   padding-left: 500px;
   gap: 40px;
   font-size: 20px;
   margin-top: 30px;
   margin-bottom: 10px;
  }
  lis li a:hover{
    color: blue;
    background-color: blue;
  }
.at{
  background-color: red;
  padding: 5px;
  border-radius: 30px;
}
  .grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
    margin-left: -8px;
    padding-left: 20px;
    gap: 30px;

    }

    @media( min-width:300px ) and (max-width:640px){
      *{
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        padding-left: 0px;
        padding-right: 0px;
      }

      .grid3{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        padding-left: 5px;
      }

      .cabecalho menu{
        padding-left: 0px;
        font-size: 5px;
      }
      .cabecalho nav li a{
        font-size: 9px;
        padding: 10px;
        display: flex;
      
      }
      .div{
        display: grid;
        grid-template-columns: 1fr ;
      }
    }