*{
    margin: 0px;
    padding: 0px;
  }

  .cabecalho{
    display: flex;
   justify-content: space-between;
   padding: 30px;
  
   margin: 0 auto;
  
  }
  .cabecalho .logo{
    width: 55px;
    margin-top: -20px;
  }
  .cabecalho .menu{
  
    display: flex;
    
    align-items: center;
    height: 100%;
  }

  .cabecalho nav li a{
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
    
  }

  ul{
    list-style: none;
  }

  header{
    background-color: rgb(0, 0, 0);
    height: 20px;
  }

  .cabecalho nav li a:hover{
    background-color: rgb(255, 238, 0);
    list-style: none;
    text-decoration: none;
  
  }
  a{
    text-decoration: none;
  }
  .gray{
    background-color: rgb(246, 255, 0);
    color: rgb(0, 0, 0);
    height: 300px;
  }
  .flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img{
    width: 73%;
  
   
  }
  .text{
    font-size: 30px;padding-left: 20px;
    padding-top: 20px;
  }

  @media( min-width:300px ) and (max-width:640px){
    *{
      margin: 0px;
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .grid3{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      padding-left: 5px;
    }

    .cabecalho menu{
      padding-left: 0px;
      font-size: 5px;
    }
    .cabecalho nav li a{
      font-size: 9px;
      padding: 10px;
      display: flex;
    
    }
    .flex{
      display: grid;
      grid-template-columns: 1fr;
    
    }
    .img{
      width: 90%;
    }
    .text{
      font-size: 10px
    }
  }
  @media (min-width:1390px){
     .img{
      width: 52%;
     }
  }
  