*{
    margin: 0px;
    padding: 0px;
  }
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .cabecalho{
    display: flex;
   justify-content: space-between;
   padding: 30px;
  
   margin: 0 auto;
  
  }
  .cabecalho .logo{
    width: 55px;
    margin-top: -20px;
  }
  .cabecalho .menu{
  
    display: flex;
    
    align-items: center;
    height: 100%;
  }

  .cabecalho nav li a{
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
    
  }

  ul{
    list-style: none;
  }

  header{
    background-color: rgb(0, 0, 0);
    height: 20px;
  }

  .cabecalho nav li a:hover{
    background-color: rgb(255, 238, 0);
    list-style: none;
    text-decoration: none;
  
  }
  a{
    text-decoration: none;
  }
  a{
    color: white;
  }

  .gray{
    background-color: rgb(246, 255, 0);
    color: rgb(0, 0, 0);
    height: 300px;
    background: url(imgs/6f7c90fd-7376-4642-bfe6-97930ddbbecf.jpg);
    background-position: right bottom;
  }
  .flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img{
    width: 63%;
    margin-top: -40px;
  }
  .text{
    padding-left: 50px;
    padding-top: 20px;
  }
  .buttom{
    background-color: blue;
    color: white;
    border-color: blue;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
  }
  .buttom:hover{
    background-color: red;
    border-color: red;
    transition-delay: 1ms;
    transition-duration: 2ms;
  }
  .grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
  }
  .div4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
  }
  .border{
    border: 1px solid black;
    padding: 15px;
    border-radius: 30px;
    margin-right: 10px;
  }
  .back22{
    background-color: blue;
    color: white;
    padding-bottom: 20px;
    margin-top: 10px;
   
  }
  .border:hover{
    background-color: red;
  }
  .card{
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.5);
  }
  
  .grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
    margin-left: -8px;
    padding-left: 20px;
    gap: 30px;

    }
    .pf{
      color: white;
    }
    @media(min-width:300px) and (max-width:460px){
      *{
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        padding-left: 0px;
        padding-right: 0px;
      }
  
      .cabecalho menu{
        padding-left: 0px;
        font-size: 5px;
      }
      .cabecalho nav li a{
        font-size: 9px;
        padding: 10px;
        display: flex;
      
      }
      .mt{
        margin-top: 10px;
      }
      .div4{
        display:  grid;
        grid-template-columns: 1fr 1fr;
      }
      .grid3{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .grid4{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }


    @media (min-width:1390px){
      .img{
       width: 44%;
      }
   }
   