*{
    margin: 0px;
    padding: 0px;
  }
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .cabecalho{
    display: flex;
   justify-content: space-between;
   padding: 30px;
  
   margin: 0 auto;
  
  }
  .cabecalho .logo{
    width: 55px;
    margin-top: -20px;
  }
  .cabecalho .menu{
  
    display: flex;
    
    align-items: center;
    height: 100%;
  }

  .cabecalho nav li a{
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
    
  }

  ul{
    list-style: none;
  }

  header{
    background-color: rgb(0, 0, 0);
    height: 20px;
  }

  .cabecalho nav li a:hover{
    background-color: rgb(255, 238, 0);
    list-style: none;
    text-decoration: none;
  
  }
  a{
    text-decoration: none;
  }
  .flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tex{
    padding-top: 100px;
  }
  .back{
    background-color: #0000ff;
    color:#F7F5FB;
  }
  .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wid{
    width: 80%;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 30px;
  }

  .text1{
    padding-top: 80px;
    padding-left: 20px;
  }
  .text2{
    padding-top: 80px;
    padding-right: 20px;
  }
  .grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
    margin-left: -8px;
    padding-left: 20px;
  }
  
  @media( min-width:300px ) and (max-width:640px){
    *{
      margin: 0px;
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .grid3{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      padding-left: 5px;
    }

    .cabecalho menu{
      padding-left: 0px;
      font-size: 5px;
    }
    .cabecalho nav li a{
      font-size: 9px;
      padding: 10px;
      display: flex;
    
    }
    
  }
  