*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecalho{
    display: flex;
   justify-content: space-between;
   padding: 30px;
  
   margin: 0 auto;
 
  }
  .cabecalho .logo{
    width: 55px;
  }
  .cabecalho .menu{
  
    display: flex;
    
    align-items: center;
    height: 100%;
  }
  header{
    background-attachment: scroll;
  }
  .cabecalho nav li a{
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
    
  }
  .cabecalho nav li a:hover{
    background-color: rgb(255, 238, 0);
    list-style: none;
    text-decoration: none;
  
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  .fundo-video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 89vh;
    overflow: hidden;
    display: flex;
    background: linear-gradient(to right, yellow, blue);
    justify-content: end;
  }
  .texto{
    padding-left: 50px;
    padding-top: 50px;
    font-size: 29px;
  }
  .button{
    background-color:blue ;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-color: blue;
    border-radius: 20px;
  }
  .button:hover{
    background-color: red;
    border-color: red;
  }
  .mt{
    margin-top: 150px;
    padding-left: 10px;
  }
  .grind{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .back{
    background-color: rgb(11, 15, 85);
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
  }
  .pad{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .pi{
    font-size: 15px;
  }
  .bi{
    background-color: rgb(37, 0, 247);
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
  }
 