*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecalho{
  display: flex;
 justify-content: space-between;
 padding: 30px;

 margin: 0 auto;

}
.cabecalho .logo{
  width: 55px;
}
.cabecalho .menu{

  display: flex;
  
  align-items: center;
  height: 100%;
}
header{
  background-attachment: scroll;
}
.cabecalho nav li a{
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.3s;
  
}
.cabecalho nav li a:hover{
  background-color: rgb(255, 238, 0);
  list-style: none;
  text-decoration: none;

}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.fundo-video{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 89vh;
  overflow: hidden;
  display: flex;
  background: linear-gradient(to right, yellow, blue);
  justify-content: end;
}
.texto{
  padding-left: 50px;
  padding-top: 50px;
  font-size: 29px;
}
.button{
  background-color:blue ;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-color: blue;
  border-radius: 20px;
}
.button:hover{
  background-color: red;
  border-color: red;
}
.mt{
  margin-top: 150px;
  padding-left: 10px;
}
.grind{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.back{
  background-color: rgb(11, 15, 85);
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
}
.pad{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.pi{
  font-size: 15px;
}
.bi{
  background-color: rgb(37, 0, 247);
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}
.hr{
width: 15%;
margin-left: 560px;
color: rgb(225, 255, 0);
background-color: yellow;
}
.back23{
background: linear-gradient(to top, rgb(32, 21, 113), rgb(38, 38, 242));

}
.grind3{
display: grid;
grid-template-columns: 1fr 1fr;
padding-left: 40px;
}
.colir{
color: yellow;
}
.colir2{
color: white;
}
.flex{
display: grid;
grid-template-columns: 1fr 1fr;
}
.pd{
padding-top: 50px;
padding-left: 10px;
}
.back22{
background-color: black;
color: wheat;
height: 293px;
}
.idf{
margin-top: -60px;
}
.comentarios{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding-top: 20px;

}
.card{
background-color: blue;
width: 70%;
padding: 10px;
color: white;
margin-left: 50px;
margin-bottom: 10px;
}
.grid22{
display: grid;
grid-template-columns: 1fr 1fr;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
}
.text{
padding-left: 260px;
}
.grid4{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card2{
background-color: rgba(158, 158, 158, 0.322);
width: 60%;
margin-left: 30px;
padding: 40px;
border-color: black;
border: 1px solid;
border-radius: 30px;
margin-top: 20px;
margin-bottom: 20px;
}
.conteudo{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-left: 90px;
}
.conheca{
display: grid;
grid-template-columns:  1fr 1fr;
}
.grid3{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
background-color: black;
color: white;
margin-left: -8px;
padding-left: 20px;
gap: 30px;
}
.video{
  width: 90%;
  border-radius: 20px;
}
.ifg{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.logo{
  width: 80%;
}
.buttom{
  background-color: yellow;
  border-color: yellow;
  font-size: 20px;
  padding: 5px;
  margin-top: 5px;
}
.buttom:hover{
  background-color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
  color: white;
}
@media (min-width:1390px){
.mt{
  margin-top: 410px;
}
}


@media (min-width:300px) and (max-width:500px){
  *{
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
.mt{
  margin-top: 300px;
}
.grid{
  display:  grid;
  grid-template-columns: 1fr;
}
.menu{
  font-size: 3px;
}
.vd{
  width: 50%;
}
.grid3{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding-left: 5px;
}
.pad{
  padding-left: 0px;
}
.idf{
  width: 100%;

}
.text{
  padding-left: 0px;
}
.grid4{
  display: grid;
  grid-template-columns: 1fr ;
}
.card{
  margin-left: 0px;
}
.cabecalho menu{
  padding-left: 0px;
  font-size: 5px;
}
.cabecalho nav li a{
  font-size: 9px;
  padding: 10px;
  display: flex;



}
.cabecalho{
  margin-left: -100px;
  padding: 0px;
}
.hr{
  display: none;
  margin-left: 0px;
}
.mgd{
  width: 60%;
}
.comentarios{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ft{
  padding-right: 15px;
  font-size: 10px;
}
.conteudo{
  padding-left: 13px;
}
.pd{
  padding-top: 0px;

}
.buttom{
  font-size: 10px;
}
}